body {
	color: #ffff;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #111111;
}

.container {
	width: 1120px;
	margin: 0 auto;
}

.player .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.player {
	z-index: 1;
	padding: 30px 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #1d1d1d;
}

.player-data {
	display: flex;
	align-items: center;
}

.player-data__author-info {
	padding-left: 10px;
}

.player-action {
	display: flex;
	align-items: center;
}

.player-action__line {
	cursor: pointer;
	width: 400px;
	height: 3px;
	background-color: #717070;
	margin: 0 10px;
}

.player-action__current-line {
	height: 3px;
	background-color: #fff;
}

.player-action__play-pause {
	z-index: 1;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
	height: 45px;
	border-radius: 50%;
}

.player-action__play-pause:after {
	z-index: -1;
	content: '';
	position: absolute;
	background-color: #ffff;
	width: 20px;
	height: 20px;
	bottom: 12px;
	left: 12px;
}

/*playlist*/

.playlist-music, .playlist-data, .playlist__play-pause {
	display: flex;
}

.playlist-number, .playlist-author, .playlist-duration {
	color: #777;
}

.playlist-number {
	margin-right: 20px;
}

.playlist-title {
	margin-right: 10px;
}

.playlist-music {
	width: 400px;
	justify-content: space-between;
	align-items: center;
	border-left: 1px solid #888;
	padding: 14px;
}

.playlist-data, .playlist__play-pause {
	align-items: center;
}